    <div id="header_wrap" class="outer">
        <header style="text-align: center;" class="inner">
            <div style="text-align: center; margin: 0;">
                <img style="vertical-align: middle;" src="{{ site.baseurl }}{% link assets/images/icon.png %}">
                <h1 style="display: inline-block; vertical-align: middle; padding-left: 10px;" id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
            </div>
            <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>
