<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
  {% include head.html %}
  </head>
  <body>

    <!-- HEADER -->
    {% include header.html %}
    <!-- MAIN CONTENT -->
    {% for a in site.authors %}
    {% assign t = a.title | downcase %}
    {% if page.author == t %}
    {% assign author = a %}
    {% endif %}
    {% endfor %}
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>{{ page.title }}</h1>
        {% if author %}
        <span>Posted by <a href="{{ author.web }}">{{ author.name }}</a> on {{ page.published }}</span>
        {% else %}
        <span>Posted anonymously on {{ page.published }}</span>
        {% endif %}
        <hr>
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}
    {% if site.google_analytics %}
    {% include google_analytics.html %}
    {% endif %}
  </body>
</html>
